<section class="banner-principal">
    <section class="banner-dott">
        <h1 class="logo-title">Gaming <span>Store</span></h1>
        <nav>
            <ul> 
                <li class="active">Home</li>
                <li></li>
                <li>About</li>
                <li></li>
                <li>Latest Games</li>
                <li></li>
                <li>Team</li>
                <li></li>
                <li>Blog</li>
                <li></li>
                <li>Mail Us</li>
            </ul>
        </nav>
    </section>
    
</section>

<p>header works!</p>
